html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.infowindow-content {
  max-width: 250px;
}

.infowindow-img {
  max-height: 200px;
  max-width: 200px;
}

#map {
  height: 100%;
}
